ADDRESS="bluzelle1upsfjftremwgxz3gfy0wf3xgvwpymqx754ssu9"
MNEMONIC="around buzz diagram captain obtain detail salon mango muffin brother morning jeans display attend knife carry green dwarf vendor hungry fan route pumpkin car"
ENDPOINT="http://dev.testnet.public.bluzelle.com:1317"
UUID="20fc19d4-7c9d-4b5c-9578-8cedd756e0ea"